* {
  box-sizing: border-box;
  user-select: none;
}

body {
  overflow: hidden;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

#uiParent {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

#renderCanvas {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

#uiParent {
  /* It's an invisible container and should not handle clicks */
  pointer-events: none;
}

#uiParent > * {
  /* UI widgets should allow interaction (obviously) */
  pointer-events: auto;
}

p {
  margin: 0;
}
